@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?dnoq3e");
  src: url("../fonts/icomoon.eot?dnoq3e#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?dnoq3e") format("truetype"), url("../fonts/icomoon.woff?dnoq3e") format("woff"), url("../fonts/icomoon.svg?dnoq3e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-binoculars:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-paragraph-justify:before {
  content: "";
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.u-building-blocks-container-box {
  width: 32%;
  text-align: center;
}
.u-fonts {
  font-size: 25px;
  color: #ffffff;
  padding: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.u-sub-title {
  margin-top: 35px;
  font-family: "Allerta", sans-serif;
  font-weight: 500;
}

.header {
  background: #D30C24;
}
.header p {
  display: inline-block;
  margin: 0;
  color: #ffffff;
  padding: 10px;
  float: left;
  font-size: 17px;
  font-weight: 300;
}
.header-menu li {
  list-style: none;
}
.header-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
}
.header-menu-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.header-menu-container li {
  padding: 10px;
}

.description {
  background-image: url(../images/fondo.svg);
  background-size: cover;
}
.description-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 22px 0 10px 19px;
}
.description-container-seeker {
  width: 80%;
}
.description-container-seeker input {
  width: 100%;
  background: #004E6B;
  border: 1px solid #005777;
  padding: 8px;
}
.description-container-search {
  width: 20%;
}
.description-container-search a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}
.description-container-search-buttom {
  padding: 8px;
  width: 34px;
  background-color: #004E6B;
  border: 1px solid #005777;
}
.description-sub {
  padding: 50px;
  padding-bottom: 80px;
  color: #ffffff;
  width: 550px;
}
.description-sub p {
  margin-bottom: 50px;
}
.description-sub a {
  text-decoration: none;
  color: #ffffff;
  background-color: #EE8B34;
  padding: 5px 10px;
  border-radius: 8px;
}
.description-sub-title {
  font-size: 30px;
  font-weight: 400;
}

.qualities {
  background-color: #083145;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 107px;
}
.qualities-image {
  width: 50%;
}
.qualities-collaboration {
  width: 44%;
}
.qualities-collaboration ul {
  padding: 29px;
}
.qualities-collaboration a {
  text-decoration: none;
  color: #ffffff;
  background-color: #DD2531;
  padding: 5px 15px;
  border-radius: 10px;
}
.qualities-collaboration-title {
  font-weight: 500;
}

.building-blocks {
  padding-top: 30px;
}
.building-blocks-intro {
  text-align: center;
}
.building-blocks-intro-title {
  font-size: 30px;
  font-weight: 400;
}
.building-blocks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 70px 50px 70px;
}
.building-blocks-container p span {
  color: #DD2531;
}
.building-blocks .find {
  background-color: #083145;
}
.building-blocks .discover {
  background-color: #EE8B34;
}
.building-blocks .build {
  background-color: #E45559;
}

.new-heights {
  background-color: #083145;
  color: #ffffff;
}
.new-heights-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 100px;
}
.new-heights-container-box {
  width: 65%;
  margin-top: 30px;
}
.new-heights-container-box-title {
  font-size: 30px;
  font-weight: 400;
}
.new-heights-container-box p {
  margin-bottom: 50px;
}
.new-heights-container-box a {
  background-color: #D30C24;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 10px;
}
.new-heights-container-image {
  width: 30%;
}
.new-heights-container-image img {
  width: 100%;
  border-radius: 50%;
}

.versions {
  padding: 50px 80px;
}
.versions-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}
.versions-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.versions-container-box {
  width: 30%;
}
.versions-container-box span {
  color: #DD2531;
}

/*# sourceMappingURL=styles.css.map */
