@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?dnoq3e');
    src: url('../fonts/icomoon.eot?dnoq3e#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?dnoq3e') format('truetype'), url('../fonts/icomoon.woff?dnoq3e') format('woff'), url('../fonts/icomoon.svg?dnoq3e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-binoculars:before {
    content: "\e985";
}

.icon-search:before {
    content: "\e986";
}

.icon-cogs:before {
    content: "\e995";
}

.icon-earth:before {
    content: "\e9ca";
}

.icon-paragraph-justify:before {
    content: "\ea7a";
}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

.u {
    &-building-blocks-container-box {
        width: 32%;
        text-align: center;
    }
    &-fonts {
        font-size: 25px;
        color: #ffffff;
        padding: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    &-sub-title {
        margin-top: 35px;
        font-family: 'Allerta', sans-serif;
        font-weight: 500;
    }
}

.header {
    background: #D30C24;
    p {
        display: inline-block;
        margin: 0;
        color: #ffffff;
        padding: 10px;
        float: left;
        font-size: 17px;
        font-weight: 300;
    }
    &-menu {
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 17px;
                font-weight: 300;
            }
        }
        &-container {
            display: flex;
            justify-content: flex-end;
            align-content: center;
            li {
                padding: 10px;
            }
        }
    }
}

.description {
    background: #004A66;
    background-image: url(../images/fondo.svg);
    background-size: cover;
    height: 600px;
    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 22px 10px 10px 19px;
        &-seeker {
            width: 80%;
            input {
                width: 100%;
                background: #004E6B;
                border: 1px solid #005777;
                padding: 8px;
            }
        }
        &-search {
            width: 20%;
            a {
                padding: 10px;
                text-decoration: none;
                color: #ffffff;
            }
            &-buttom {
                padding: 8px;
                width: 34px;
                background-color: #004E6B;
                border: 1px solid #005777;
            }
        }
    }
    &-sub {
        padding: 50px;
        padding-bottom: 80px;
        color: #ffffff;
        width: 550px;
        p {
            margin-bottom: 50px;
            font-size: 18px;
            line-height: 24px;
        }
        a {
            text-decoration: none;
            color: #ffffff;
            background-color: #EE8B34;
            padding: 5px 10px;
            ;
            border-radius: 8px;
        }
        &-title {
            font-size: 30px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1010px) {
    .description {
        &-container {
            &-seeker {
                width: 75%;
            }
            &-search {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 795px) {
    .description {
        height: 549px;
        &-container {
            &-seeker {
                width: 68%;
            }
            &-search {
                width: 32%;
            }
        }
    }
}

@media screen and (max-width:633px) {
    .description {
        height: 800px;
        &-sub{
            padding: 50px 5%;
            padding-top:415px;
            width: auto;
        }
        &-container{
            &-seeker{
                width: 94%;
            }
            &-search{
                width: 6%;
                a{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 465px){
    .description{
        &-container{
            padding: 22px 5% 10px 5%;
            &-seeker{
                width: 90%;
            }
            &-search{
                width:10%;
            }
        }
    }
}

@media screen and (max-width: 439px){
    .description{
        height: 758px;
        &-sub{
            padding-top: 338px;
        }
    }
}

.qualities {
    background-color: #083145;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 107px;
    &-image {
        width: 50%;
    }
    &-collaboration {
        width: 44%;
        ul {
            padding: 29px;
            line-height: 33px;
        }
        a {
            text-decoration: none;
            color: #ffffff;
            background-color: #DD2531;
            padding: 5px 15px;
            border-radius: 10px;
        }
        &-title {
            font-weight: 500;
        }
        p {
            span {
                font-weight: 600;
            }
        }
    }
}

.building-blocks {
    padding-top: 30px;
    &-intro {
        text-align: center;
        &-title {
            font-size: 30px;
            font-weight: 400;
        }
    }
    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 70px 50px 70px;
        p {
            line-height: 28px;
            span {
                color: #DD2531;
            }
        }
    }
    .find {
        background-color: #083145;
    }
    .discover {
        background-color: #EE8B34;
    }
    .build {
        background-color: #E45559;
    }
}

.new-heights {
    background-color: #083145;
    color: #ffffff;
    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 50px 100px;
        &-box {
            width: 65%;
            margin-top: 30px;
            &-title {
                font-size: 30px;
                font-weight: 400;
            }
            p {
                margin-bottom: 50px;
                line-height: 28px;
            }
            a {
                background-color: #D30C24;
                color: #ffffff;
                text-decoration: none;
                padding: 8px 10px;
                border-radius: 10px;
            }
        }
        &-image {
            width: 30%;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}

.versions {
    padding: 50px 80px;
    &-title {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 30px;
    }
    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-box {
            width: 30%;
            li {
                p {
                    line-height: 26px;
                    span {
                        color: #DD2531;
                    }
                }
            }
        }
    }
}

.form {
    background-color: #083145;
    color: #ffffff;
    padding-bottom: 30px;
    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 100px;
        &-box {
            width: 20%;
            &-title {
                color: #98B9CF;
                border-bottom: 1px solid #314758;
                padding-bottom: 20px;
            }
            ul {
                list-style: none;
                line-height: 24px;
                li {
                    padding: 3px;
                }
                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }
    p {
        text-align: center;
    }
}